h1 {
    text-align: center;
    font-size: 3em;
}

body {
    color: #EFEFEF;
    background-color: #111111;
    text-align: center;
}

#canvas {
    padding: 0px;
    width: 512px;
    height: 288px;
    margin: auto;
    display: block;
    border: 50px solid #EFEFEF;
    border-radius: 25px;
}

#score, #currentLevel, #info_joueur {
    width: 25%;
    position: relative;
    bottom: 40px;
    color: #111111;
    font-size: 1.2em;
    background-color: #EFEFEF;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 5px;
}

p {
    position: relative;
    bottom: 20px;
}