h1 {
	color: #EFEFEF;
	text-align: center;
	font-size: 510%;
}

body  {
	background-color: #555555;
}

#canvas {
	padding: 0px;
    width: 512px;
    height: 288px;
    margin: auto;
    display: block;
    border: 50px solid #DDDDDD;
    border-radius: 25px;
}

#currentLevel, #info_joueur {
	width: 50%;
	color: white;
	background-color: #111111;
	text-align: center;
	display: block;
	margin: auto;
    margin-top: 5px;
}
