h1 {
	color: #EFEFEF;
	text-align: center;
	font-size: 4em;
}

body {
	background-color: #111111;
}

#canvas {
	padding: 0px;
    width: 512px;
    height: 288px;
    margin: auto;
    display: block;
    border: 50px solid #EFEFEF;
    border-radius: 25px;
}

#score, #currentLevel, #info_joueur {
	width: 25%;
    position: relative;
    bottom: 40px;
	color: #111111;
    font-size: 1.2em;
	background-color: #EFEFEF;
	text-align: center;
	display: block;
	margin: auto;
    margin-top: 5px;
}
